<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console"/>
    <target name="textbox" xsi:type="TextBox"
            layout="${message} ${rtb-link:link text in config}"
            formName="FormLog"
            ControlName="textBoxLog"
            autoScroll="true"
            maxLines="20"/>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=MyDocuments}\midi2games\log\midi2games.log" />
    <target xsi:type="RichTextBox"
            name="richbox"
            layout="${message} ${rtb-link:link text in config}"

            formName="FormLog"
            ControlName="richTextBoxLog"
            autoScroll="true"
            maxLines="20"

            allowAccessoryFormCreation="false"
            messageRetention="OnlyMissed"
            supportLinks="true"
            useDefaultRowColoringRules="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,logfile,textbox,richbox" />
  </rules>
</nlog>